.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:  solid 1px;
    border-bottom-color: gainsboro;
    width: 100%;
    margin: auto;
}

.flex-hcontainer {
    display: flex;
    align-items: center;
    width: 35%;
}
.to-left {
    justify-content: flex-start;
}

.to-right {
    justify-content: flex-end;
}

.tiny-img {
    width: 60px;
    height: 70px;
}